{% extends "base.html" %}

{% block page_title %}
    : About
{% endblock %}

{% block content_col %}

<div style="padding: 10px;">
  <p>Michael Phelps didn't accidentally win a gold medal (or twenty).</p>
  <p>Jacqueline Novogratz didn't accidentally build the Acumen Fund into one of the most important philanthropic organizations in the world.</p>
  <p>The myth seems to be that you're born with some sort of magical combination of parents, DNA, and lucky breaks, and they conspire to determine what you accomplish in life.</p>
  <p>Nonsense.</p>
  <p>And a good thing too, because it means that for all of us, there's a wide open path - if we choose to do something about it.  The first step down that path is this web site.</p>
  <p>A bold statement, but it's true.</p>
  <p><h2>Can you change?</h2></p>
  <p>This isn't a dumb question.  After all, we spend billions of dollard and millions of hours trying to change ourselves, and we usually fail.  We fail to lose weight, to make money, to find a partner, and even to find happiness.</p>
  <p>But on we go, spending and investing and working.  All to change.</p>
  <p>While you and I have been busy running down dead ends and wasting our efforts, scientists have been busy trying to figure out what works. And now they know.</p>
  <p>Small steps work.</p>
  <p>Consistent effort works.</p>
  <p>Group support works.</p>
  <p>That's it.  Three things.  Set a goal, and in small, consistent steps, work to reach it.  Get support from your peers when you start flagging.  Repeat.</p>
  <p>You will change.</p>
  <p>This is frightening news.  It's frightening because it means that once you choose to change, and you commit to following these three simple rules, you will probably achieve your goal.  Picking a goal just got a lot more important. The stakes are higher because now the results are well within reach.</p>
  <p>This program will change your life. If you track your activities, if you pick the goals that matter, if you surround yourself with support, you will change.</p>
  <p>Are you up for that?</p>
</div>

{% endblock %}

