<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Goals Tracking{% endblock %}
        {% block page_title %}{% endblock %}
    </title>
    {% block page_css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/goalstracking.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
    {% endblock %}
    {% block page_js %}{% endblock %}
</head>
<body>

{% block header %}
<div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <a class="brand">&nbsp;Four Goals</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              {% if user.id %}
                <li><a href="/goals/summary/">Summary</a></li>
                <li><a href="/goals/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                {% if user.is_superuser and user.is_staff %}
                  <li><a href="/admin/">ADMIN</a></li>
                {% endif %}
                <li style="width: 250px;">&nbsp;</li>
                <li><a>Welcome, {{ user.username }}</a></li>
                <li><a href="/profile/{{ user.username }}/">Your Profile</a></li>
                <li><a href="/accounts/logout/">Log Out</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}

<div class="container-fluid">
  {% block content_col %}{% endblock %}
</div>

</body>
</html>
