<div style="padding: 0 20px 0 20px;">
  <h1>Make a List</h1>
  <div style="line-height: 30px; margin-top: 25px;">
    Without censoring yourself in any way (in terms of practicality, time, 
    approval, etc.), make a list of anything you think you'd like to be, do, 
    or have.  Anything.  If you've ever dreamed of running a corporation, 
    running a marathon, or running for mayor, put it on the list.  Wait a 
    day and then come back and add even more.  Hold nothing back.  It's important 
    that you totally exhaust your dream list and go all the way to your list of 
    notions and hunches.
  </div>
  <hr style="margin: 10px;">
</div>

