{% if goalpool %}

  {% if getstarted %}
    <div style="padding-left: 15px;">
      <h3>Your list of ideas:</h3>
  {% endif %}

  <table cellpadding="5">

  {% for goal in goalpool %}
    <tr valign="top">

      <td>
      {% if not getstarted %}
        <!-- 
        <form>
          <button type="submit" class="btn btn-primary" name="remove" value="remove">X</button>
        </form>
        -->
      {% endif %}
      </td>

      <td>
        <b>{{ goal.name }}</b>
      </td>
      <td>
        {% if goal.description %} : {{ goal.description }}{% endif %}
      </td>

    </tr>
  {% endfor %}

  </table>

  {% if getstarted %}
    </div>
  {% endif %}

{% endif %}

