<div style="margin-top: 50px; width: 500px;">

  <form action="/goals/goaladd/" method="post" class="form-horizontal well" style="padding-bottom: 0;">
    <fieldset>
      {% csrf_token %}

      <div class="control-group">
        <label class="control-label">Goal Name:</label>
        <div class="controls">
          <input id="id_name" name="name" maxlength="255" type="text">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Description: (optional)</label>
        <div class="controls">
          <input id="id_description" name="description" maxlength="200" type="text">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="add" value="add">Add A Goal</button>
        {% if howmanymore > 0 %}
          <p class="help-block">You need to add at least {{ howmanymore }} idea(s) to get started.</p>
        {% else %}
          <b><a href="/goals/getstarted/">Get Started</a></b>
        {% endif %}
      </div>

    </fieldset>
  </form>

</div>
